body {
  margin: 0;
  padding: 0;
  background-image: url(/assets/img/cover-lg.jpg);
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bg-orange {
  background-color: rgb(226, 137, 53);
}

.bg-cover {
  background: rgb(25,135,84);
  background: radial-gradient(circle, rgba(25,135,84,0.7962535355939251) 0%, rgba(25,135,84,0.85) 16%, rgba(25,135,84,0.9) 40%, rgba(25,135,84,1) 61%);
  /* background-image: url(/assets/img/cover-lg.jpg);
  background-size: cover; */
}

/* picture.cover {
  position: absolute;
  width: 100%;
  height: calc(100vh - 56px);
  z-index: -1;
  overflow: hidden;
}

img.cover {
  display: block;
  position: absolute;
  width: 80vw; 
  height: auto;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
} */

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.dark-orange {
  color: rgb(75, 36, 0);
}

.card {
  box-shadow: -1px 1px 47px -16px rgba(0,0,0,0.75);
-webkit-box-shadow: -1px 1px 47px -16px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 1px 47px -16px rgba(0,0,0,0.75);
}

footer {
  margin: 0;
  padding: 30px 0;
}

.pp-container {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  border: 8px solid white;
}

h2.about, .pp-container {
  margin-bottom: 20px;
}

img.pp {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

img.achievement {
  width: 75%;
  height: auto;
}

p.about {
  width: 70%;
  margin: 0 auto;
}

nav {
  transition: 0.4s;
}

section {
  margin-top: -56px;
  padding-top: 56px;
  /* position: relative; */
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-inner {
  width: 100%;
  min-height: calc(100vh - 56px);
}

.full-height {
  min-height: 100vh;
}

.project-item {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 400px;
  /* border: 1px solid red; */
}

.projects h2 {
  margin-bottom: 10vh;
}

/* 
Responsive Styles
*/

/* like phone display portrait */
@media (max-aspect-ratio: 16/9) {
  body {
    background-size: auto 100%;
  }
  /* img.cover {
    height: calc(100vh - 56px);
    width: auto;
  } */
}

/* phone display portrait 1 or general-phone */
@media (max-aspect-ratio: 1/1) {
  .full-height, .section-inner {
    min-height: 0;
  }
  .projects h2 {
    margin-bottom: 40px;
  }
}

/* tablet 2 */
@media screen and (max-width: 768px) {
  body {
    background-image: url(/assets/img/cover-md.jpg);
  }
  img.achievement {
    width: 85%;
    margin: 10px auto 10px auto;
    display: block;
  }
}

/* phone */
@media screen and (max-width: 576px) {
  body {
    background-image: url(/assets/img/cover-sm.jpg);
  }
  p.about {
    width: 90%;
  }
}